.messageLog {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-left: 0;
}

.mainChat {
  overflow: hidden;
  overflow-y: hidden;
  max-height: 100vh;
}

.messageLog::-webkit-scrollbar {
  display: none;
}

.message-content {
  padding-left: 1ch;
}
