.messageLog {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  max-width: 40ch;
  overflow-wrap: break-word;
  padding-left: 0;
}
.mainChat {
  width: max-content;
}

.messageLog::-webkit-scrollbar {
  display: none;
}

.message-content {
  padding-left: 1ch;
}
